<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        {% for item in menu %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
        {% else %}
            <li><a href="/">Главная</a></li>
        {% endfor %}
    </ul>

<div class="">
    {% block content %}{% endblock %}
</div>
</body>
</html>